#logo{
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
}
.lo{
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}
.lorem{
	font-family: 'Ubuntu Condensed', sans-serif;
}
.naslov{
	font-family: 'Acme', sans-serif;
}
.klasa{
	margin-top: 150px;
}
.smedia{
	max-width: 50px;
	margin: 0 auto;
}
.as{
 	display: inline;
 }
  @media screen and (max-width: 720px){
 	.as{
 		font-size:80%;
 	}
 }