#logo{
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
}
.lo{
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}
.smedia{
	max-width: 50px;
	margin: 0 auto;
}
.forma{
	margin-top: 100px;
}
form{
	max-width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.as{
 	display: inline;
 }

@media screen and (max-width: 720px){
form{
	max-width: 90%;
}
.as{
 		font-size:80%;
 	}
}